.ComingSoon {
  position: relative;
}
.ComingSoon_overlay {
  position: absolute; /* Sit on top of the page content */
  width: 100vw; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: -2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.ComingSoon_content {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100 !important;
  flex-direction: column;
  padding-top: 100px;
}
.ComingSoon_content h1 {
  font-size: 30px;
  letter-spacing: 10px;
  margin-top: 1rem;
}
.ComingSoon_img {
  z-index: -10;
}
.ComingSoon_content button {
  background-color: black;
  padding: 16px 2rem;
  color: white;
  border-radius: 5px;
  letter-spacing: 10px;
  opacity: 0.8;
  transition: all 0.5s;
}
.ComingSoon_content button:hover {
  margin-top: -10px;
}
